html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.heart {
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: #db002c;
    clip-path: 
      shape(
        from 50% 91%,
        line to 90% 50%,
        arc to 50% 9%  of 1%,
        arc to 10% 50% of 1%
      );
    animation: floatUp 4s ease-out forwards;
    pointer-events: none;
    z-index: 10;
    opacity: 1;
}

@keyframes floatUp {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-250px) scale(1.5); /* farther up */
        opacity: 0;
    }
}